*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #e2f2fe;
}

.inner-div{
    width: 50vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}
.inner-div h2{
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}

.inner-div li{
    font-size: 1.6rem;
    margin-top: 1.5rem;
    list-style-type: none;
}
input{
    cursor: pointer;
}

#submit, .btn{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: rgba(7, 89, 243, 0.836);
    color: #ffffff;
    margin-top: 4rem;
}
#submit:hover{
    background-color: blue;
}
#submit:active{
    transform: scale(0.98);
}
#show-score h3{
    font-size: 3rem;
    text-align: center;
}
#show-score{
    background-color: white;
    margin-top: 3rem;
    padding: 3rem 4rem;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}
#show-score .btn{
    background-color: aqua;
    color: black;
}
#restart:hover{
    background-color: rgba(0, 135, 168, 0.678);
    color: white;
}
.score-area{
    display: none;
}